In [77]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedShuffleSplit
seed=7

In [53]:
churn = pd.read_csv('dataset.csv')
churn.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [54]:
churn_shape = churn.shape
churn_shape

(3333, 21)

In [55]:
churn_col = list(churn.columns)
churn_col

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [56]:
churn.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [57]:
churn_target = churn['Churn?']

In [58]:
churn_feature = churn.drop(['Phone','Churn?'],axis=1)
churn_feature.head()
#cols_to_drop=['Phone','Churn?']

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [59]:
yes_no_col= ["Int'l Plan","VMail Plan"]
churn_bool= churn_feature[yes_no_col].replace({'yes': True, 'no': False})
churn_bool.head()

   Int'l Plan  VMail Plan
0       False        True
1       False        True
2       False       False
3        True       False
4        True       False

In [60]:
churn_feature["Int'l Plan"] = churn_bool["Int'l Plan"].values
churn_feature["VMail Plan"] = churn_bool["VMail Plan"].values
churn_feature.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [61]:
label_encoder = preprocessing.LabelEncoder()
churn_feature['Area Code'] = label_encoder.fit_transform(churn_feature['Area Code'])
churn_feature.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,1,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,1,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,1,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,0,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,1,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [62]:
print('Churn data size before one hot encoding',churn_feature.shape)

Churn data size before one hot encoding (3333, 19)

In [63]:
#we have 51 unique columns being created with headers State_<STATE_CODE>. and mapped with 1,0  wrt to each state code.
churn_dumm=pd.get_dummies(churn_feature, columns=["State"], prefix=["State"])
print('Churn data size after one hot encoding',churn_dumm.shape)
churn_dumm.head()

Churn data size after one hot encoding (3333, 69)

,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,128,1,False,True,25,265.1,110,45.07,197.4,99,...,0,0,0,0,0,0,0,0,0,0
1,107,1,False,True,26,161.6,123,27.47,195.5,103,...,0,0,0,0,0,0,0,0,0,0
2,137,1,False,False,0,243.4,114,41.38,121.2,110,...,0,0,0,0,0,0,0,0,0,0
3,84,0,True,False,0,299.4,71,50.90,61.9,88,...,0,0,0,0,0,0,0,0,0,0
4,75,1,True,False,0,166.7,113,28.34,148.3,122,...,0,0,0,0,0,0,0,0,0,0

In [64]:
#converting to numpy matrix against each column changing.
churn_matrix = churn_dumm.values.astype(np.float)
churn_matrix

array([[128.,   1.,   0., ...,   0.,   0.,   0.],
       [107.,   1.,   0., ...,   0.,   0.,   0.],
       [137.,   1.,   0., ...,   0.,   0.,   0.],
       ...,
       [ 28.,   2.,   0., ...,   0.,   0.,   0.],
       [184.,   2.,   1., ...,   0.,   0.,   0.],
       [ 74.,   1.,   0., ...,   0.,   0.,   0.]])

In [66]:
scaler = StandardScaler()
churn_matrix = scaler.fit_transform(churn_matrix)
churn_matrix

array([[ 6.76489464e-01, -8.45700361e-04, -3.27580479e-01, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01],
       [ 1.49065047e-01, -8.45700361e-04, -3.27580479e-01, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01],
       [ 9.02528501e-01, -8.45700361e-04, -3.27580479e-01, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01],
       ...,
       [-1.83505538e+00,  1.40851395e+00, -3.27580479e-01, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01],
       [ 2.08295458e+00,  1.40851395e+00,  3.05268496e+00, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01],
       [-6.79744752e-01, -8.45700361e-04, -3.27580479e-01, ...,
        -1.54800302e-01, -1.81239748e-01, -1.53781171e-01]])

In [69]:
train_data,test_data, train_label, test_label = train_test_split(churn_matrix, churn_target, test_size=.1,random_state=seed)

In [71]:
#Initializing decision tree classifier
classifier=DecisionTreeClassifier(random_state=seed)
#Model training
classifier = classifier.fit(train_data, train_label)
#After being fitted, the model can then be used to predict the output.
churn_predicted_target=classifier.predict(test_data)
#Evaluating the classifier
score = classifier.score(test_data, test_label)
print('Decision Tree Classifier : ',score)

Decision Tree Classifier :  0.9101796407185628

In [72]:
from sklearn.naive_bayes import GaussianNB

classifier=GaussianNB()

classifier = classifier.fit(train_data, train_label)

churn_predicted_target=classifier.predict(test_data)

score = classifier.score(test_data, test_label)

print('Naive Bayes : ',score)

Naive Bayes :  0.5748502994011976

In [73]:
from sklearn.linear_model import SGDClassifier

classifier =  SGDClassifier(loss='modified_huber', shuffle=True,random_state=seed)

classifier = classifier.fit(train_data, train_label)

churn_predicted_target=classifier.predict(test_data)

score = classifier.score(test_data, test_label)

print('SGD classifier : ',score)

SGD classifier :  0.7694610778443114

/home/pikachu/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

In [74]:
from sklearn.svm import SVC

classifier = SVC(kernel="linear", C=0.025,random_state=seed)

classifier = classifier.fit(train_data, train_label)

churn_predicted_target=classifier.predict(test_data)

score = classifier.score(test_data, test_label)

print('SVM Classifier : ',score)

SVM Classifier :  0.8473053892215568

In [75]:

from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=5, n_estimators=10, max_features=10,random_state=seed)

classifier = classifier.fit(train_data, train_label)

churn_predicted_target=classifier.predict(test_data)

score = classifier.score(test_data, test_label)

print('Random Forest Classifier : ',score)

Random Forest Classifier :  0.8682634730538922

In [76]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=5, n_estimators=15, max_features=60,random_state=seed)

classifier = classifier.fit(train_data, train_label)

score=classifier.score(test_data, test_label)

print('Random Forest classification after model tuning',score)

Random Forest classification after model tuning 0.937125748502994

In [79]:
sss = StratifiedShuffleSplit(n_splits=1,test_size=0.1, random_state=7)
sss.get_n_splits(churn_matrix,churn_target)
print(sss)
# test_size=0.1 denotes that 10% of data used in testing.

StratifiedShuffleSplit(n_splits=1, random_state=7, test_size=0.1,
            train_size=None)

In [86]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import svm

classifiers = [
    DecisionTreeClassifier(),
    GaussianNB(),
    SGDClassifier(loss='modified_huber', shuffle=True),
    SVC(kernel="linear", C=0.025),
    KNeighborsClassifier(),
    OneVsRestClassifier(svm.LinearSVC()),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=10),
    AdaBoostClassifier(),
   ]
for clf in classifiers:
    score=0
    for train_index, test_index in sss.split(churn_matrix,churn_target):
        X_train, X_test = churn_matrix[train_index], churn_matrix[test_index]
        y_train, y_test = churn_target[train_index], churn_target[test_index]
        clf.fit(X_train, y_train)
        score=score+clf.score(X_test, y_test)
    print(score)

0.8892215568862275
0.6137724550898204
0.8053892215568862

/home/pikachu/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

0.8562874251497006
0.8652694610778443

/home/pikachu/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.8652694610778443
0.8892215568862275
0.8832335329341318

In [88]:
# classification accuracy is the percentage of correct predictions.
from sklearn.metrics import accuracy_score
print('Accuracy Score',accuracy_score(test_label,churn_predicted_target))

Accuracy Score 0.8682634730538922

In [89]:
# Confusion Matrix - evaluate the performance of the classifier
from sklearn.metrics import confusion_matrix
print('Confusion Matrix',confusion_matrix(test_label,churn_predicted_target))

Confusion Matrix [[282   1]
 [ 43   8]]

In [91]:
# Classification Report - text report showing the commonly used classification metrics.
from sklearn.metrics import classification_report
target_names = ['False.', 'True.']
print(classification_report(test_label, churn_predicted_target, target_names=target_names))

              precision    recall  f1-score   support

      False.       0.87      1.00      0.93       283
       True.       0.89      0.16      0.27        51

   micro avg       0.87      0.87      0.87       334
   macro avg       0.88      0.58      0.60       334
weighted avg       0.87      0.87      0.83       334