In [164]:
# The code was removed by Watson Studio for sharing.

In [165]:
import numpy as np

In [166]:
dfcopy = df

In [167]:
dfcopy.isnull().sum()

Date               0
Day_Name           0
Visitors           6
Revenue            6
Marketing Spend    0
Promo              0
dtype: int64

In [168]:
dfcopy[dfcopy['Visitors'].isnull()]

           Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
6    15-11-2020     Sunday       NaN  11929.0      1325.444444  Promotion Blue
21   30-11-2020     Monday       NaN      NaN      1016.000000        No Promo
22   01-12-2020    Tuesday       NaN      NaN       923.000000        No Promo
85   02-02-2021    Tuesday       NaN      NaN      1162.090909  Promotion Blue
86   03-02-2021  Wednesday       NaN      NaN      1698.000000  Promotion Blue
178  06-05-2021   Thursday       NaN      NaN      2067.888889   Promotion Red

In [169]:
## Replacing null visitors values for the firt columns
dfmean1 = dfcopy[(dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'Promotion Blue')]['Visitors'].mean()
dfmean1

1410.5

In [170]:
dfcopy[((dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'Promotion Blue'))].fillna(dfmean1 ,inplace= True)

In [171]:
dfcopy[((dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'Promotion Blue'))]

           Date Day_Name  Visitors  Revenue  Marketing Spend           Promo
6    15-11-2020   Sunday       NaN  11929.0      1325.444444  Promotion Blue
34   13-12-2020   Sunday    1163.0   8802.0       880.200000  Promotion Blue
48   27-12-2020   Sunday    2020.0  23014.0      2557.111111  Promotion Blue
55   03-01-2021   Sunday    1442.0   9952.0      1244.000000  Promotion Blue
125  14-03-2021   Sunday     967.0   7878.0       787.800000  Promotion Blue
139  28-03-2021   Sunday    1642.0  14587.0      1620.777778  Promotion Blue
153  11-04-2021   Sunday    1485.0  11221.0      1020.090909  Promotion Blue
160  18-04-2021   Sunday    1399.0  12251.0      1531.375000  Promotion Blue
167  25-04-2021   Sunday    1166.0  11650.0      1059.090909  Promotion Blue

In [53]:
## Replacing null visitors values for the Second columns
dfcopy = dfcopy[((dfcopy['Day_Name'] == 'Monday') & (dfcopy['Promo'] == 'No Promo'))]

In [126]:
dfcopy[dfcopy['Visitors'].isnull()]

           Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
6    15-11-2020     Sunday       NaN  11929.0      1325.444444  Promotion Blue
21   30-11-2020     Monday       NaN      NaN      1016.000000        No Promo
22   01-12-2020    Tuesday       NaN      NaN       923.000000        No Promo
85   02-02-2021    Tuesday       NaN      NaN      1162.090909  Promotion Blue
86   03-02-2021  Wednesday       NaN      NaN      1698.000000  Promotion Blue
178  06-05-2021   Thursday       NaN      NaN      2067.888889   Promotion Red

In [54]:
dfcopy

Empty DataFrame
Columns: [Date, Day_Name, Visitors, Revenue, Marketing Spend, Promo]
Index: []

In [46]:
dfcopy[(dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'Promotion Blue')]['Visitors'].mean()

1410.5

In [36]:
dfcopy[(dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'Promotion Red')]['Visitors'].mean()

1573.0

In [37]:
dfcopy[(dfcopy['Day_Name'] == 'Sunday') & (dfcopy['Promo'] == 'No Promo')]['Visitors'].mean()

1513.0

In [25]:
dfcopy[dfcopy['Day_Name'] == 'Monday']['Visitors'].mean()

1489.48

In [26]:
dfcopy[dfcopy['Day_Name'] == 'Tuesday']['Visitors'].mean()

1441.4583333333333

In [27]:
dfcopy[dfcopy['Day_Name'] == 'Wednesday']['Visitors'].mean()

1592.44

In [29]:
dfcopy[dfcopy['Day_Name'] == 'Thursday']['Visitors'].mean()

2253.12

In [30]:
dfcopy[dfcopy['Day_Name'] == 'Friday']['Visitors'].mean()

1968.423076923077

In [31]:
dfcopy[dfcopy['Day_Name'] == 'Saturday']['Visitors'].mean()

1410.0384615384614